/* /Pages/Index.razor.rz.scp.css */
*[b-v3iltydwsj] {
    letter-spacing: -1px;
    transition: all 0.2s ease-in-out;
}

.page-container[b-v3iltydwsj] {
    padding: 0px 20px
}

/*<==============================================*/
/*       COLORS
/*===============================================*/

.red-bg[b-v3iltydwsj] {
    background-color: #a90000;
}

.blue-bg[b-v3iltydwsj] {
    background-color: #1f1e6f;
}

/*<==============================================*/
/*       NAVIGATION
/*===============================================*/

.top-menu[b-v3iltydwsj] {
    display: flex;
    justify-content: space-between;
    z-index: 1;
    position: relative;
    gap: 1rem;
}

.name[b-v3iltydwsj] {
    height: 34px;
}

.title[b-v3iltydwsj] {
    font-size: 25px;
    gap: 5px;
    display: flex;
    align-items: center;
    height: 40px;
}

    .title .star[b-v3iltydwsj] {
        font-size: 35px;
    }

.star[b-v3iltydwsj] {
    font-weight: 800;
    color: #49ad00;
}

.menu-nav[b-v3iltydwsj] {
    display: flex;
    gap: 2rem;
    padding-right: 1rem;
    align-items: center;
}

    .menu-nav .item[b-v3iltydwsj] {
        font-weight: 700;
    }

/*<==============================================*/
/*       PROFILE
/*===============================================*/
.profile-container[b-v3iltydwsj] {
    padding: 0 100px;
}

.popup[b-v3iltydwsj] {
    position: absolute;
    background-color: #FDAE16;
    right: -80px;
    padding: 10px 41px;
    border-radius: 50px;
    top: 275px;
    z-index: 1;
    font-size: 20px;
    font-weight: 700;
}

.profile-text[b-v3iltydwsj] {
    width: 365px;
    background-color: black;
    color: white;
    padding: 40px;
}

    .profile-text .contact[b-v3iltydwsj] {
        font-size: 28px;
    }

    .profile-text .icon[b-v3iltydwsj] {
        font-size: 14px;
    }

    .profile-text .contact-text div[b-v3iltydwsj] {
        letter-spacing: 0;
    }

.profile[b-v3iltydwsj] {
    height: 500px;
    width: 365px;
    position: relative;
}

    .profile .img-border[b-v3iltydwsj] {
        width: 100%;
        height: 390px;
        position: absolute;
        bottom: 0;
        z-index: -1;
        /**/
        background-color: #a90000;
        display: flex;
        justify-content: center;
    }

        .profile .img-border .circle[b-v3iltydwsj] {
            position: absolute;
            background-color: #F6EFE1;
            border-radius: 100%;
            /**/
            height: 320px;
            width: 320px;
            margin-top: 20px;
        }


    .profile .img[b-v3iltydwsj] {
        background-image: url('images/Profile.png');
        background-repeat: no-repeat;
        position: absolute;
        bottom: 0;
        /**/
        /*background-color: green;*/
        background-size: 438px;
        background-position-x: -60px;
        background-position-y: bottom;
        width: 365px;
        height: 482px;
    }

/*<==============================================*/
/*       INTRODUCTION
/*===============================================*/

.landing[b-v3iltydwsj] {
    margin-top: -30px
}

.intro[b-v3iltydwsj] {
    padding: 0 100px;
}

    .intro .name[b-v3iltydwsj] {
        font-size: 100px;
        font-weight: 100;
        line-height: 1.3;
        margin-top: 40px;
    }

    .intro .paragraph[b-v3iltydwsj] {
        font-size: 30px;
        margin-top: 15px;
        font-weight: 400;
        line-height: 1.4;
        max-width: 475px;
        letter-spacing: 0px;
    }


/*<==============================================*/
/*       EDUCATION
/*===============================================*/

.education[b-v3iltydwsj] {
    margin-top: -50px;
    height: 271px;
}

/*<==============================================*/
/*       LAYOUTS
/*===============================================*/

.two-group[b-v3iltydwsj] {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.left-side[b-v3iltydwsj], .right-side[b-v3iltydwsj] {
    display: flex;
}

.left-side[b-v3iltydwsj] {
    justify-content: end;
    align-items: center;
}

.right-side[b-v3iltydwsj] {
    justify-content: start;
}

/*<==============================================*/
/*       MEDIA QUERY
/*===============================================*/
@media screen and (max-width: 1400px) {

    .intro[b-v3iltydwsj], .profile-container[b-v3iltydwsj] {
        padding: 0 50px;
    }
}

@media screen and (max-width: 1190px) {

    .intro .name[b-v3iltydwsj] {
        font-size: 80px;
    }

    .intro .paragraph[b-v3iltydwsj] {
        font-size: 25px;
        max-width: 400px;
    }
}

@media screen and (max-width: 990px) {

    .intro[b-v3iltydwsj], .profile-container[b-v3iltydwsj] {
        padding: 0 10px;
    }
}

@media screen and (max-width: 920px) {
    .landing[b-v3iltydwsj] {
        margin-top: 0;
    }

    .intro[b-v3iltydwsj], .profile-container[b-v3iltydwsj] {
        padding: 0;
    }


    .two-group[b-v3iltydwsj] {
        grid-template-columns: 1fr;
    }

    .left-side[b-v3iltydwsj], .right-side[b-v3iltydwsj] {
        justify-content: center;
    }
}

@media screen and (max-width: 730px) {
    .title[b-v3iltydwsj] {
        font-size: 16px;
    }
}

@media screen and (max-width: 590px) {
    .title .name[b-v3iltydwsj] {
        display: none;
    }
}

@media screen and (max-width: 540px) {
    .title .name[b-v3iltydwsj] {
        display: none;
    }

    .profile-container[b-v3iltydwsj] {
        transform: scale(0.8);
        margin: -60px 0;
        /*margin-left: -55px;*/
    }

    .intro .name[b-v3iltydwsj] {
        font-size: 60px;
    }

    .intro .paragraph[b-v3iltydwsj] {
        font-size: 20px;
        max-width: 320px;
    }

    .popup[b-v3iltydwsj] {
        right: -40px;
    }

    .page-container[b-v3iltydwsj] {
        padding: 0;
    }

    .top-menu[b-v3iltydwsj] {
        padding: 0px 20px;
    }
}

@media screen and (max-width: 360px) {
    .profile-container[b-v3iltydwsj] {
        margin: -60px -60px;
    }

    .popup[b-v3iltydwsj] {
        right: -25px;
        padding: 10px 25px;
    }
}
/* /Shared/MainLayout.razor.rz.scp.css */
.page[b-jfou16sp3s] {
    position: relative;
    display: flex;
    flex-direction: column;
}

main[b-jfou16sp3s] {
    flex: 1;
}

.sidebar[b-jfou16sp3s] {
    background-image: linear-gradient(180deg, rgb(5, 39, 103) 0%, #3a0647 70%);
}

.top-row[b-jfou16sp3s] {
    background-color: #f7f7f7;
    border-bottom: 1px solid #d6d5d5;
    justify-content: flex-end;
    height: 3.5rem;
    display: flex;
    align-items: center;
}

    .top-row[b-jfou16sp3s]  a, .top-row[b-jfou16sp3s]  .btn-link {
        white-space: nowrap;
        margin-left: 1.5rem;
        text-decoration: none;
    }

    .top-row[b-jfou16sp3s]  a:hover, .top-row[b-jfou16sp3s]  .btn-link:hover {
        text-decoration: underline;
    }

    .top-row[b-jfou16sp3s]  a:first-child {
        overflow: hidden;
        text-overflow: ellipsis;
    }

/*@media (max-width: 640.98px) {
    .top-row:not(.auth) {
        display: none;
    }

    .top-row.auth {
        justify-content: space-between;
    }

    .top-row ::deep a, .top-row ::deep .btn-link {
        margin-left: 0;
    }
}

@media (min-width: 641px) {
    .page {
        flex-direction: row;
    }

    .sidebar {
        width: 250px;
        height: 100vh;
        position: sticky;
        top: 0;
    }

    .top-row {
        position: sticky;
        top: 0;
        z-index: 1;
    }

    .top-row.auth ::deep a:first-child {
        flex: 1;
        text-align: right;
        width: 0;
    }

    .top-row, article {
        padding-left: 2rem !important;
        padding-right: 1.5rem !important;
    }
}*/
/* /Shared/NavMenu.razor.rz.scp.css */
.navbar-toggler[b-ajcy77egsx] {
    background-color: rgba(255, 255, 255, 0.1);
}

.top-row[b-ajcy77egsx] {
    height: 3.5rem;
    background-color: rgba(0,0,0,0.4);
}

.navbar-brand[b-ajcy77egsx] {
    font-size: 1.1rem;
}

.oi[b-ajcy77egsx] {
    width: 2rem;
    font-size: 1.1rem;
    vertical-align: text-top;
    top: -2px;
}

.nav-item[b-ajcy77egsx] {
    font-size: 0.9rem;
    padding-bottom: 0.5rem;
}

    .nav-item:first-of-type[b-ajcy77egsx] {
        padding-top: 1rem;
    }

    .nav-item:last-of-type[b-ajcy77egsx] {
        padding-bottom: 1rem;
    }

    .nav-item[b-ajcy77egsx]  a {
        color: #d7d7d7;
        border-radius: 4px;
        height: 3rem;
        display: flex;
        align-items: center;
        line-height: 3rem;
    }

.nav-item[b-ajcy77egsx]  a.active {
    background-color: rgba(255,255,255,0.25);
    color: white;
}

.nav-item[b-ajcy77egsx]  a:hover {
    background-color: rgba(255,255,255,0.1);
    color: white;
}

@media (min-width: 641px) {
    .navbar-toggler[b-ajcy77egsx] {
        display: none;
    }

    .collapse[b-ajcy77egsx] {
        /* Never collapse the sidebar for wide screens */
        display: block;
    }
    
    .nav-scrollable[b-ajcy77egsx] {
        /* Allow sidebar to scroll for tall menus */
        height: calc(100vh - 3.5rem);
        overflow-y: auto;
    }
}
