.page-container {
  width: 100vw;
  height: 100vh;
  padding: 50px;
  overflow: hidden;
}

.book-container {
  /*    width: 1400px;
    height: 800px;*/
}

.page {
  overflow: hidden;
  background-color: #fdfaf7;
  color: #785e3a;
  border: solid 1px #c2b5a3;
  padding: 20px;
}

  .page.--left {
    box-shadow: inset -7px 0 30px -7px rgba(0, 0, 0, 0.4)
  }

  .page.--right {
    box-shadow: inset 7px 0 30px -7px rgba(0,0,0,0.4)
  }

  .page.page-cover.page-cover-top {
    box-shadow: inset 0px 0 30px 0px rgba(36,10,3,0.5),-2px 0 5px 2px rgba(0,0,0,0.4)
  }

  .page.page-cover.page-cover-bottom {
    box-shadow: inset 0px 0 30px 0px rgba(36,10,3,0.5),10px 0 8px 0px rgba(0,0,0,0.4)
  }

  .page.page-cover {
    background-color: #e3d0b5;
    color: #785e3a;
    border: solid 1px #998466;
  }

  .page .page-content {
    display: flex;
    flex-direction: column;
    position: relative;
  }

    .page .page-content .page-image {
      height: 200px;
      width: 100%;
      margin: 20px 0;
    }
