.slideUp-animation {
  visibility: hidden;
  animation: slideUp 1.5s ease forwards 0.1s;
}

@keyframes slideUp {
  from {
    visibility: visible;
    transform: translateY(100%);
  }

  to {
    visibility: visible;
    transform: translateY(0);
  }
}
