<div class="flip-page"
     [class.flipped]="this.isFlipped"
     [class.cover-page]="this.Cover"
     [class.front]="this.FrontCover"
     [class.first-page]="this.onFirstPage"
     [class.last-page]="this.onLastPage">

  @if (this.Cover !== '' && this.Cover !== null && this.Cover !== undefined) {
  <!-- Cover Page -->
  <div class="back-page"
       (click)="pageFlip()"
       [style.background-image]="'url(./images/' + this.Cover + ')'">
  </div>

  <div class="front-page"
       (click)="pageFlip()"
       [style.background-image]="'url(./images/' + this.Cover + ')'">
  </div>
  } @else {
  <!-- Normal Page -->
  <div (click)="pageFlip()" class="back-page">
    <div class="paper">
      <txt-to-html [filename]="Back"></txt-to-html>
    </div>
  </div>

  <div (click)="pageFlip()" class="front-page">
    <div class="paper">
      <txt-to-html [filename]="Front"></txt-to-html>
    </div>
  </div>
  }
</div>
