<input type="checkbox" id="checkbox-cover">

<ng-container *ngFor="let id of pageIds">
  <input type="checkbox" [id]="'checkbox-' + id">
</ng-container>

<div class="book">
  <div class="cover">
    <label for="checkbox-cover"></label>
  </div>

  <div class="page" id="page1">
    <div class="front-page">
      <txt-to-html filename="test.txt"></txt-to-html>
      <label class="next" for="checkbox-page1">➡️</label>
    </div>
    <div class="back-page">
      <h2>Page 1 Back</h2>
      <label class="prev" for="checkbox-page1">⬅️</label>
    </div>
  </div>
  <div class="page" id="page2">
    <div class="front-page">
      <h2>Page 2</h2>
      <label class="next" for="checkbox-page2">➡️</label>
    </div>
    <div class="back-page">
      <h2>Page 2 Back</h2>
      <label class="prev" for="checkbox-page2">⬅️</label>
    </div>
  </div>
  <div class="page" id="page3">
      <h2>Page 3</h2>
  </div>

  <div class="back-cover"></div>
</div>
