<div class="book-frame">
  <div class="page-wrapper slideUp-animation">
    <div class="click-shield" *ngIf="isCooldown"></div>
    <div *ngFor="let page of pages; let i = index">
      <flip-page [Front]="page.front"
                 [Back]="page.back"
                 [Cover]="page.cover"
                 [FrontCover]="page.frontCover"
                 [style.zIndex]="zIndices[i]"
                 (isFlippedChanged)="handleFlip(i, $event)"
                 [onFirstPage]="this.onFirstPage"
                 [onLastPage]="this.onLastPage">
      </flip-page>
    </div>
  </div>
</div>
